<section>
    <nav class="nav-bar">
        <div class="nav-container"> 
            <a (click)="openMenu()" class="nav-menu">&#9776; Menu</a>
            <ul class="nav-list {{menu_status}}" id="nav">
                <li> <a (click)="goBack()" id="tile1" class="pointer"><i class="icon fa fa-long-arrow-left" aria-hidden="true"></i>Trở về</a></li>
                <li> <a [routerLink]="['']" id="tile2"><i class="icon fa fa-plus-square"></i> Trang chủ</a></li>
                <li> <a [routerLink]="['']" id="tile3"><i class="icon fa fa-plus-square"></i> Portfolio</a></li>
                <li> <a [routerLink]="['']" id="tile4"><i class="fa fa-plus-square"></i> Services</a></li>
                <li> <a [routerLink]="['']" id="tile5"><i class="fa fa-plus-square"></i> Clients</a></li>
                <li> <a [routerLink]="['']" id="tile6"><i class="fa fa-plus-square"></i> Order</a></li>
                <li> <a [routerLink]="['/thanh-vien']" id="tile7"><i class="fa fa-plus-square"></i> Thành viên</a></li>
                <li> <a [routerLink]="['/dang-nhap']" id="tile8"><i class="fa fa-plus-square"></i> Đăng nhập</a></li>
            </ul>
        </div>
    </nav>
</section>