<section><app-base-header></app-base-header></section>
<section class="page-content">
    <section class="section-bg">
        <div class="container"><!--
                    <ul>
                        <li *ngFor="let homeicon of homeiconlist"
                            [class.selected]="homeicon === selectedHomeicon"
                            (click)="onSelect(homeicon)">{{homeicon.icon_title}}</li>
                    </ul>
                    <p>{{selectedHomeicon.icon_title}}</p>-->
                    <p>vfewbgv</p>
        </div>
    </section>
    <section class="section-bg">
        <div class="container">
            <!--
                    <ul>
                        <li *ngFor="let homeicon of homeiconlist"
                            [class.selected]="homeicon === selectedHomeicon"
                            (click)="onSelect(homeicon)">{{homeicon.icon_title}}</li>
                    </ul>
                    <p>{{selectedHomeicon.icon_title}}</p>-->
                    <p>vfewbgv</p>
        </div>
    </section>
</section>
<app-base-footer></app-base-footer>
