<section>
    <nav class="nav-bar">
        <div class="nav-container"> 
            <a id="nav-menu" class="nav-menu">&#9776; Menu</a>
            <ul class="nav-list " id="nav">
                <li> <a href="#" id="tile1"><i class="icon fa fa-plus-square"></i> Home</a></li>
                <li> <a href="#" id="tile2"><i class="icon fa fa-plus-square"></i> About</a></li>
                <li> <a href="#" id="tile3"><i class="icon fa fa-plus-square"></i> Portfolio</a></li>
                <li> <a href="#" id="tile4"><i class="fa fa-plus-square"></i> Services</a></li>
                <li> <a href="#" id="tile5"><i class="fa fa-plus-square"></i> Clients</a></li>
                <li> <a href="#" id="tile6"><i class="fa fa-plus-square"></i> Order</a></li>
                <li> <a href="#" id="tile7"><i class="fa fa-plus-square"></i> Blog</a></li>
                <li> <a href="#" id="tile8"><i class="fa fa-plus-square"></i> Contact</a></li>
            </ul>
        </div>
    </nav>
</section>